		

		<div class="container__copys copys">
			
			<ul class="copys__list">
					
					<li class="copys__item copys__item--1">
					</li> <!-- /.copys__item -->
					
					<li class="copys__item copys__item--2">
					</li> <!-- /.copys__item -->
					
					<li class="copys__item copys__item--3">
					</li> <!-- /.copys__item -->
				
				</ul> <!-- /.copys__list -->	
		
		</div><!-- /.container__copys -->

	</div> <!-- end .container -->

	@@include("../common/modals.html", {})

	<script src="https://ad.csdnevnik.ru/special/prodaction/vendors/polyfill.min.js"></script>
	<script src="https://ad.csdnevnik.ru/special/prodaction/vendors/hello.min.js"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.5/fabric.min.js"></script>	
	
	<!-- main script -->
	@@if (server === "dnevnik"){
	<script src="assets/js/dnevnik.min.js"></script>
	}	
	@@if (server === "mosreg"){
	<script src="assets/js/mosreg.min.js"></script>
	}
	@@if (server === "staging"){
	<script src="assets/js/staging.min.js"></script>
	}
	@@if (server === "local"){	
	<script src="http://localhost:3000/assets/js/local.min.js"></script>
	}

</body>
</html>
