/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$age-name: 'age';
$age-x: 338px;
$age-y: 23px;
$age-offset-x: -338px;
$age-offset-y: -23px;
$age-width: 26px;
$age-height: 45px;
$age-total-width: 724px;
$age-total-height: 261px;
$age-image: '../images/sprite.png';
$age: (338px, 23px, -338px, -23px, 26px, 45px, 724px, 261px, '../images/sprite.png', 'age', );
$close-name: 'close';
$close-x: 364px;
$close-y: 23px;
$close-offset-x: -364px;
$close-offset-y: -23px;
$close-width: 28px;
$close-height: 28px;
$close-total-width: 724px;
$close-total-height: 261px;
$close-image: '../images/sprite.png';
$close: (364px, 23px, -364px, -23px, 28px, 28px, 724px, 261px, '../images/sprite.png', 'close', );
$copy-1-name: 'copy-1';
$copy-1-x: 392px;
$copy-1-y: 23px;
$copy-1-offset-x: -392px;
$copy-1-offset-y: -23px;
$copy-1-width: 28px;
$copy-1-height: 23px;
$copy-1-total-width: 724px;
$copy-1-total-height: 261px;
$copy-1-image: '../images/sprite.png';
$copy-1: (392px, 23px, -392px, -23px, 28px, 23px, 724px, 261px, '../images/sprite.png', 'copy-1', );
$copy-2-name: 'copy-2';
$copy-2-x: 338px;
$copy-2-y: 7px;
$copy-2-offset-x: -338px;
$copy-2-offset-y: -7px;
$copy-2-width: 88px;
$copy-2-height: 16px;
$copy-2-total-width: 724px;
$copy-2-total-height: 261px;
$copy-2-image: '../images/sprite.png';
$copy-2: (338px, 7px, -338px, -7px, 88px, 16px, 724px, 261px, '../images/sprite.png', 'copy-2', );
$copy-3-name: 'copy-3';
$copy-3-x: 338px;
$copy-3-y: 0px;
$copy-3-offset-x: -338px;
$copy-3-offset-y: 0px;
$copy-3-width: 386px;
$copy-3-height: 7px;
$copy-3-total-width: 724px;
$copy-3-total-height: 261px;
$copy-3-image: '../images/sprite.png';
$copy-3: (338px, 0px, -338px, 0px, 386px, 7px, 724px, 261px, '../images/sprite.png', 'copy-3', );
$face-name: 'face';
$face-x: 91px;
$face-y: 177px;
$face-offset-x: -91px;
$face-offset-y: -177px;
$face-width: 83px;
$face-height: 37px;
$face-total-width: 724px;
$face-total-height: 261px;
$face-image: '../images/sprite.png';
$face: (91px, 177px, -91px, -177px, 83px, 37px, 724px, 261px, '../images/sprite.png', 'face', );
$hair-name: 'hair';
$hair-x: 258px;
$hair-y: 0px;
$hair-offset-x: -258px;
$hair-offset-y: 0px;
$hair-width: 80px;
$hair-height: 91px;
$hair-total-width: 724px;
$hair-total-height: 261px;
$hair-image: '../images/sprite.png';
$hair: (258px, 0px, -258px, 0px, 80px, 91px, 724px, 261px, '../images/sprite.png', 'hair', );
$hand-liked-name: 'hand--liked';
$hand-liked-x: 439px;
$hand-liked-y: 23px;
$hand-liked-offset-x: -439px;
$hand-liked-offset-y: -23px;
$hand-liked-width: 19px;
$hand-liked-height: 21px;
$hand-liked-total-width: 724px;
$hand-liked-total-height: 261px;
$hand-liked-image: '../images/sprite.png';
$hand-liked: (439px, 23px, -439px, -23px, 19px, 21px, 724px, 261px, '../images/sprite.png', 'hand--liked', );
$hand-name: 'hand';
$hand-x: 420px;
$hand-y: 23px;
$hand-offset-x: -420px;
$hand-offset-y: -23px;
$hand-width: 19px;
$hand-height: 21px;
$hand-total-width: 724px;
$hand-total-height: 261px;
$hand-image: '../images/sprite.png';
$hand: (420px, 23px, -420px, -23px, 19px, 21px, 724px, 261px, '../images/sprite.png', 'hand', );
$hoses-name: 'hoses';
$hoses-x: 258px;
$hoses-y: 143px;
$hoses-offset-x: -258px;
$hoses-offset-y: -143px;
$hoses-width: 71px;
$hoses-height: 52px;
$hoses-total-width: 724px;
$hoses-total-height: 261px;
$hoses-image: '../images/sprite.png';
$hoses: (258px, 143px, -258px, -143px, 71px, 52px, 724px, 261px, '../images/sprite.png', 'hoses', );
$logotype-name: 'logotype';
$logotype-x: 91px;
$logotype-y: 125px;
$logotype-offset-x: -91px;
$logotype-offset-y: -125px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 724px;
$logotype-total-height: 261px;
$logotype-image: '../images/sprite.png';
$logotype: (91px, 125px, -91px, -125px, 148px, 52px, 724px, 261px, '../images/sprite.png', 'logotype', );
$mouths-name: 'mouths';
$mouths-x: 0px;
$mouths-y: 216px;
$mouths-offset-x: 0px;
$mouths-offset-y: -216px;
$mouths-width: 80px;
$mouths-height: 45px;
$mouths-total-width: 724px;
$mouths-total-height: 261px;
$mouths-image: '../images/sprite.png';
$mouths: (0px, 216px, 0px, -216px, 80px, 45px, 724px, 261px, '../images/sprite.png', 'mouths', );
$noses-name: 'noses';
$noses-x: 258px;
$noses-y: 91px;
$noses-offset-x: -258px;
$noses-offset-y: -91px;
$noses-width: 71px;
$noses-height: 52px;
$noses-total-width: 724px;
$noses-total-height: 261px;
$noses-image: '../images/sprite.png';
$noses: (258px, 91px, -258px, -91px, 71px, 52px, 724px, 261px, '../images/sprite.png', 'noses', );
$sticker-name: 'sticker';
$sticker-x: 0px;
$sticker-y: 125px;
$sticker-offset-x: 0px;
$sticker-offset-y: -125px;
$sticker-width: 91px;
$sticker-height: 91px;
$sticker-total-width: 724px;
$sticker-total-height: 261px;
$sticker-image: '../images/sprite.png';
$sticker: (0px, 125px, 0px, -125px, 91px, 91px, 724px, 261px, '../images/sprite.png', 'sticker', );
$trolls-name: 'trolls';
$trolls-x: 0px;
$trolls-y: 0px;
$trolls-offset-x: 0px;
$trolls-offset-y: 0px;
$trolls-width: 258px;
$trolls-height: 125px;
$trolls-total-width: 724px;
$trolls-total-height: 261px;
$trolls-image: '../images/sprite.png';
$trolls: (0px, 0px, 0px, 0px, 258px, 125px, 724px, 261px, '../images/sprite.png', 'trolls', );
$spritesheet-width: 724px;
$spritesheet-height: 261px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($age, $close, $copy-1, $copy-2, $copy-3, $face, $hair, $hand-liked, $hand, $hoses, $logotype, $mouths, $noses, $sticker, $trolls, );
$spritesheet: (724px, 261px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
