/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$age-name: 'age';
$age-x: 258px;
$age-y: 157px;
$age-offset-x: -258px;
$age-offset-y: -157px;
$age-width: 26px;
$age-height: 45px;
$age-total-width: 406px;
$age-total-height: 240px;
$age-image: '../images/sprite.png';
$age: (258px, 157px, -258px, -157px, 26px, 45px, 406px, 240px, '../images/sprite.png', 'age', );
$close-name: 'close';
$close-x: 341px;
$close-y: 104px;
$close-offset-x: -341px;
$close-offset-y: -104px;
$close-width: 28px;
$close-height: 28px;
$close-total-width: 406px;
$close-total-height: 240px;
$close-image: '../images/sprite.png';
$close: (341px, 104px, -341px, -104px, 28px, 28px, 406px, 240px, '../images/sprite.png', 'close', );
$copy-1-name: 'copy-1';
$copy-1-x: 369px;
$copy-1-y: 104px;
$copy-1-offset-x: -369px;
$copy-1-offset-y: -104px;
$copy-1-width: 28px;
$copy-1-height: 23px;
$copy-1-total-width: 406px;
$copy-1-total-height: 240px;
$copy-1-image: '../images/sprite.png';
$copy-1: (369px, 104px, -369px, -104px, 28px, 23px, 406px, 240px, '../images/sprite.png', 'copy-1', );
$copy-2-name: 'copy-2';
$copy-2-x: 258px;
$copy-2-y: 141px;
$copy-2-offset-x: -258px;
$copy-2-offset-y: -141px;
$copy-2-width: 88px;
$copy-2-height: 16px;
$copy-2-total-width: 406px;
$copy-2-total-height: 240px;
$copy-2-image: '../images/sprite.png';
$copy-2: (258px, 141px, -258px, -141px, 88px, 16px, 406px, 240px, '../images/sprite.png', 'copy-2', );
$copy-3-name: 'copy-3';
$copy-3-x: 0px;
$copy-3-y: 233px;
$copy-3-offset-x: 0px;
$copy-3-offset-y: -233px;
$copy-3-width: 386px;
$copy-3-height: 7px;
$copy-3-total-width: 406px;
$copy-3-total-height: 240px;
$copy-3-image: '../images/sprite.png';
$copy-3: (0px, 233px, 0px, -233px, 386px, 7px, 406px, 240px, '../images/sprite.png', 'copy-3', );
$face-name: 'face';
$face-x: 258px;
$face-y: 104px;
$face-offset-x: -258px;
$face-offset-y: -104px;
$face-width: 83px;
$face-height: 37px;
$face-total-width: 406px;
$face-total-height: 240px;
$face-image: '../images/sprite.png';
$face: (258px, 104px, -258px, -104px, 83px, 37px, 406px, 240px, '../images/sprite.png', 'face', );
$hair-name: 'hair';
$hair-x: 0px;
$hair-y: 125px;
$hair-offset-x: 0px;
$hair-offset-y: -125px;
$hair-width: 81px;
$hair-height: 108px;
$hair-total-width: 406px;
$hair-total-height: 240px;
$hair-image: '../images/sprite.png';
$hair: (0px, 125px, 0px, -125px, 81px, 108px, 406px, 240px, '../images/sprite.png', 'hair', );
$hoses-name: 'hoses';
$hoses-x: 258px;
$hoses-y: 52px;
$hoses-offset-x: -258px;
$hoses-offset-y: -52px;
$hoses-width: 71px;
$hoses-height: 52px;
$hoses-total-width: 406px;
$hoses-total-height: 240px;
$hoses-image: '../images/sprite.png';
$hoses: (258px, 52px, -258px, -52px, 71px, 52px, 406px, 240px, '../images/sprite.png', 'hoses', );
$logotype-name: 'logotype';
$logotype-x: 258px;
$logotype-y: 0px;
$logotype-offset-x: -258px;
$logotype-offset-y: 0px;
$logotype-width: 148px;
$logotype-height: 52px;
$logotype-total-width: 406px;
$logotype-total-height: 240px;
$logotype-image: '../images/sprite.png';
$logotype: (258px, 0px, -258px, 0px, 148px, 52px, 406px, 240px, '../images/sprite.png', 'logotype', );
$noses-name: 'noses';
$noses-x: 329px;
$noses-y: 52px;
$noses-offset-x: -329px;
$noses-offset-y: -52px;
$noses-width: 71px;
$noses-height: 52px;
$noses-total-width: 406px;
$noses-total-height: 240px;
$noses-image: '../images/sprite.png';
$noses: (329px, 52px, -329px, -52px, 71px, 52px, 406px, 240px, '../images/sprite.png', 'noses', );
$sticker-name: 'sticker';
$sticker-x: 81px;
$sticker-y: 125px;
$sticker-offset-x: -81px;
$sticker-offset-y: -125px;
$sticker-width: 91px;
$sticker-height: 91px;
$sticker-total-width: 406px;
$sticker-total-height: 240px;
$sticker-image: '../images/sprite.png';
$sticker: (81px, 125px, -81px, -125px, 91px, 91px, 406px, 240px, '../images/sprite.png', 'sticker', );
$trolls-name: 'trolls';
$trolls-x: 0px;
$trolls-y: 0px;
$trolls-offset-x: 0px;
$trolls-offset-y: 0px;
$trolls-width: 258px;
$trolls-height: 125px;
$trolls-total-width: 406px;
$trolls-total-height: 240px;
$trolls-image: '../images/sprite.png';
$trolls: (0px, 0px, 0px, 0px, 258px, 125px, 406px, 240px, '../images/sprite.png', 'trolls', );
$spritesheet-width: 406px;
$spritesheet-height: 240px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($age, $close, $copy-1, $copy-2, $copy-3, $face, $hair, $hoses, $logotype, $noses, $sticker, $trolls, );
$spritesheet: (406px, 240px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
