/* ==========================================================================
 * Global
 * ========================================================================== */

.document{
	min-width: 1000px;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font-size: 16px;
	line-height: 1.2;
	font-family: $mainFontFamily;
	color: $text;
	
	background: #0a1111 url(../images/bg/home.jpg) 50% 0 no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	&__body{
		
	}
}


.link{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
	transition: all .3s;
	&:hover{
		border-color: transparent;
		text-decoration: none;
	}
}

.inverselink{
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all .3s;
	&:hover{
		border-color: currentColor;
		text-decoration: none;
	}	
}

//android hack
p,
span{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQIW2NkAAIAAAoAAggA9GkAAAAASUVORK5CYII=); 
}

p{
	margin: 0 0 1em;
	&:last-child{
		margin: 0;
	}
}

strong{
	font-weight: 700;
}

sup{
	font-size: .8em;
	vertical-align: super;
}

.italic{
	font-style: italic;
}

.text{
	font-size: 16px;
	line-height: (24/16);
}
